<ng-container *ngIf="person">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="closeModal()">Close</ion-button>
      </ion-buttons>
      <ion-title>{{ person.name }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <p *ngIf="person.homeworldDetails?.name !== 'unknown'">
      {{ person.name }} is from the planet {{ person.homeworldDetails?.name }},
      which has a {{ person.homeworldDetails?.terrain }} terrain and a
      {{ person.homeworldDetails?.climate }} climate. It also has a population
      of {{ person.homeworldDetails?.population | number }}.
    </p>
    <p *ngIf="person.homeworldDetails?.name === 'unknown'">
      We don't know what planet is {{ person.name }} from.
    </p>

    <p>
      {{ person.name }} has been in {{ person.films.length }}
      films.
    </p>
    <ion-list>
      <ion-item *ngFor="let film of person.filmsDetail" class="ion-no-padding">
        <ion-label>
          <h2>{{ film.title }}</h2>
          <p>Released on: {{ film.release_date }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ng-container>
