<ion-header>
  <ion-toolbar>
    <ion-title>Star Wars People</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let person of people$ | async">
      <ion-label>
        <h2>{{ person.name }}</h2>
        <p>Number of films: {{ person.films.length }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content
      loadingText="Loading more characters"
      loadingSpinner="bubbles"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
